@font-face {
  font-family: "Toys";
  src: url(./assets/font/K26ToyBlocks123.ttf);
}
@font-face {
  font-family: "Toys-2";
  src: url(./assets/font/TOYZARUX.ttf);
}
@font-face {
  font-family: "Grinch";
  src: url(./assets/font/GrinchedRegular.otf);
}
@font-face {
  font-family: "Simon";
  src: url(./assets/font/Study\ Alone.otf)
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #fa70b1;
  background-image: linear-gradient(
    90deg,
    #fa70b1 0%,
    #fedd40 50%,
    #ebdd1f 100%
  );
  font-family: "Simon" !important;
}
#navstyle {
  background: url(./assets/Purple\ and\ Pink\ Pastel\ Cute\ Fashion\ Collection\ Coming\ Soon\ Banner.png);
  background-size: cover;
  background-repeat: no-repeat;

  background-position: center;

  /* background-position: center; */

  min-height: 60px;
  max-height: 120px;
}
#navTitle {
  font-family: "Toys";
  color: #201261 !important;
  font-size: 2rem;
}
.main {
  background: url(./assets/Best-5-Treehouse-Toys.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-height: calc(100vh - 56px);
  position: relative;
  > div {
    text-align: center;
    color: white;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, 0%);
    .main-buttons {
      margin-top: 1rem;
    }
  }
}
.nav-link {
  font-family: "Toys-2";
  color: #ff006e !important;
  &:hover {
    color: yellowgreen !important;
  }
}
.active {
  text-decoration: underline !important;
  color: #201261 !important;
}

.card {
  text-align: center;
  border: none;
  position: relative;
  overflow: hidden;
  border-radius: 20px !important;
  cursor: pointer;
 
  
}
.card img{
   transition:all .3s ease-in;

}
.card img:hover{
  scale: 1.05;
  cursor:zoom-in
  
}
.cardTitle{
 transition:all .4s ease-in;
}
.cardTitle:hover{
  cursor:pointer;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.3);
  scale: 1.2;
  color:#ff006e;
}

.card:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 4px;
  height: 100%;
  background-color: #f1f2b5;
  transform: scaleY(1);
  transition: all 0.5s;
  transform-origin: bottom;
}

.card:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 4px;
  height: 100%;
  background-color: #135058;
  transform: scaleY(0);
  transition: all 0.5s;
  transform-origin: bottom;
}

.card:hover::after {
  transform: scaleY(1);
}

.fonts {
  font-size: 11px;
}

.social-list {
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 0;
}

.social-list li {
  padding: 10px;
  color: #ff006e;
  font-size: 19px;
}

.main-buttons button:nth-child(1) {
  border: 1px solid white !important;
  background-color: white;
  color: #ff006e;
  height: 40px;
  font-family: "Grinch";
}
.main-buttons button:nth-child(1):hover {
  border: 1px solid #ff006e !important;
  color: #fff;
  height: 40px;
  background-color: #ff006e;
}

.buttons button:nth-child(1) {
  border: 1px solid #ff006e!important;
  
  height: 40px;
  & a{
    color:#ff006e !important;
  }

}

.buttons button:nth-child(1):hover {
  border: 1px solid #ff006e !important;
  height: 40px;
  background-color: #ff006e !important;
  & a {
    color: #fff !important;
  }
}

.buttons button:nth-child(2) {
  border: 1px solid #ff006e !important;
  background-color: #ff006e;
  color: #fff;
  height: 40px;
}

.main-buttons button:nth-child(2) {
  border: 1px solid #ff006e !important;
  background-color: #ff006e;
  color: #fff;
  height: 40px;
  font-family: "Grinch";
}

@media screen and (max-width: 800px) {
  .nav-link {
    font-size: 0.8rem !important;
  }
  #navTitle {
    font-size: 1.2rem !important;
  }
}

@media screen and (max-width: 600px) {
  .nav-link {
    font-size: 0.6rem !important;
  }
  #navTitle {
    font-size: 1.2rem !important;
  }
}
